In [ ]:
import pandas as pd;
data={
    'Student':['Amit','John','Jacob','David','Steve'],
    'Rank':[1,4,3,5,2],
    'Marks':[95,70,80,60,90]
}
print(data);
i=['A','B','C','D','E']
df=pd.DataFrame(data=data,index=i);
print(df);
print(df.dtypes)

{'Student': ['Amit', 'John', 'Jacob', 'David', 'Steve'], 'Rank': [1, 4, 3, 5, 2], 'Marks': [95, 70, 80, 60, 90]}
  Student  Rank  Marks
A    Amit     1     95
B    John     4     70
C   Jacob     3     80
D   David     5     60
E   Steve     2     90
Student    object
Rank        int64
Marks       int64
dtype: object

In [12]:
import pandas as pd;
data={
    'Student':['Amit','John','Jacob','David','Steve'],
    'Rank':[1,4,3,5,2],
    'Marks':[95,70,80,60,90]
}
index=['RowA','RowB','RowC','RowD','RowE']
df=pd.DataFrame(data=data,index=index);
print(df);

     Student  Rank  Marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

In [18]:
shape=df.shape;
print(shape);
size=df.size;
print(size);
print('Transpose')
print(df.transpose);
print(f'using the tail :{df.tail}');
print(f'using the head :{df.head}');

(5, 3)
15
Transpose
<bound method DataFrame.transpose of      Student  Rank  Marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90>
using the tail :<bound method NDFrame.tail of      Student  Rank  Marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90>
using the head :<bound method NDFrame.head of      Student  Rank  Marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90>

In [21]:
import pandas as pd;
data1={
    'Student':['Amitro','Johnsina','Jacobina','Davida','SteveIs'],
    'Rank':[45,1,4,7,8],
    'Marks':[950,750,830,610,940]
}

data2={
    'Student':['Amit','John','Jacob','David','Steve'],
    'Rank':[1,4,3,5,2],
    'Marks':[95,70,80,60,90]
}
def AddingTwoDataSet(D1,D2):
    df1=pd.DataFrame(D1);
    df2=pd.DataFrame(D2);
    join_df=pd.concat([df1,df2],axis=1);
    return join_df;
dj=AddingTwoDataSet(data1,data2);
print(dj);

    Student  Rank  Marks Student  Rank  Marks
0    Amitro    45    950    Amit     1     95
1  Johnsina     1    750    John     4     70
2  Jacobina     4    830   Jacob     3     80
3    Davida     7    610   David     5     60
4   SteveIs     8    940   Steve     2     90